<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- <link rel="stylesheet" href="stl.css"> -->
        <style type="text/css">
            #image-container{
                width: 720px;
                height: 480px;
                margin: 20px 0;
                /* background-color: red; */
            }
            #img1{
                width: 300px;
                height: 300px;
            }
            #img2{
                width: 300px;
                height: 300px;
            }
        </style>
    </head>
    <body>

        <!-- <form action="/" method="post" enctype="multipart/form-data"> -->

        <input type="file" id="file1" name="file1" class="form-control" autocomplete="off" accept="image/*" required="required">
        <input type="file" id="file2" name="file2" class="form-control" autocomplete="off" accept="image/*" required="required">
        <div id="image-container1">
            <img src="" id="img1">
            <img src="" id="img2">
        </div>
        
        <script src="../static/js/javascript.js"></script>

            <!-- <input type="submit" value="submit" class="btn btn-info">
        </form> -->

   <!-- <div>
    <img id="image1" src="static/img/image1" class="hidden">
    <img id="image2" src="static/img/image2" class="hidden">
   </div> -->


</body>
</html>
