<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../node_modules/cropperjs/dist/cropper.css">
    </head>
    <body>
        <div class="header-container" id="header">
            <div class="buttons">
                <!-- <button class="btn" id="btn-1">Upload</button> -->
                <input type="file" id="btn-1" name="file2" class="btn choose" autocomplete="off" accept="image/*" required="required">
                <button class="btn" id="btn-2">Crop</button>
                <button class="btn" id="btn-3">Magnitude</button>
                <button class="btn" id="btn-4">Phase</button>
        
            </div>
        </div>
        <!--Script-->
        <script src="../node_modules/cropperjs/dist/cropper.js"></script>
        <script src="../static/js/trial.js"></script>
    </body>
</html>